<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>PEOPLE!</title>


     <!--Настройка viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Подключаем Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.css" >

</head>
<body>
<!--/*@thymesVar id="persons" type="java.util.List"*/-->
<!--/*@thymesVar id="person" type="com.person.demo.domain.Person"*/-->
<div class="container-fluid" style="margi-top: 20px">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h1 class="panel-title">ЛЮДИ</h1>
                </div>
                <div class="panel-body">


                    <table class="table table-hover">
                        <thead class="thead-inverse">
                        <tr>
                            <th>ID</th>
                            <th>Фамилия</th>
                            <th>Имя</th>
                        </tr>
                        </thead>

                        <tr th:each="person : ${persons}">
                            <td th:text="${person.id}">123</td>
                            <td th:text="${person.firstName}">123</td>
                            <td th:text="${person.lastName}">Tasty Goodnees</td>
                            <td th:text="${person.mobile}">068 539 95 49</td>

                            <td> <a href="#" th:href="@{'/person/update/'+${person.id}}"+> <small>Обновить</small></a></td>
                            <td> <a href="#" th:href="@{'/person/show/'+${person.id}}"+> <small>Просмотреть</small></a></td>

                            <!--<td> <a href="#" th:href="@{'/person/update/'+${person.id}}"+> <small>Обновить</small></a></td>-->
                            <td> <a href="#" th:href="@{'/person/delete/'+${person.id}}"+> <small>Удалить</small></a></td>
                        </tr>

                    </table>
                    <p><a href="/person/new"> New Person</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<script src="/css/bootstrap.js"></script>

</body>
</html>