<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>PEOPLE!</title>
    <!--Настройка viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Подключаем Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.css" >
</head>
<body>
<!--/*@thymesVar id="person" type="com.person.demo.domain.Person"*/-->
<div class="container-fluid" style="margin-top: 20px">
    <div class="col-md-6 col-md-offset-3">
        <div class="pannel-group">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h1 class="panel-title">Edit Person Information</h1>
                </div>
                <div class="panel-body">
                    <div class="row">


                        <div class="col-md-3">
                            <img th:src="@{'/person/personimage/' + ${person.id} }"
                                 width="200" height="200">
                        </div>
                        <div class="col-md-6 col-md-offset-3">


                            <tr>
                                <p>First Name</p>
                                <p th:text="${person.firstName}"><b>Фамилия</b></p>
                                <p>Last Name</p>
                                <p th:text="${person.lastName}"><b>Имя</b></p>
                                <p>Mobile</p>
                                <p th:text="${person.mobile}">Мобильный телефон</p>
                            </tr>
                            <p><a href="/persons">Назад</a></p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<script src="/css/bootstrap.js"></script>
</body>
</html>